/* Reset de estilos para garantir consistência entre navegadores */
body, h1, h2, p, ul, li, label, input, select {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para cabeçalhos */
h1, h2 {
    color: #333;
}

/* Estilo para parágrafos */
p {
    color: #666;
}

/* Estilo para listas não ordenadas */
ul {
    list-style-type: none;
}

/* Estilo para links */
a {
    text-decoration: none;
    color: #3498db;
}

/* Estilo para links ao passar o mouse */
a:hover {
    text-decoration: underline;
}

/* Estilo para botões */
button, input[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para botões ao passar o mouse */
button:hover, input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Estilo para formulários */
form {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para rótulos de formulário */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* Estilo para campos de entrada de texto */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilo para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilo para células de tabela */
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

/* Estilo para cabeçalhos de tabela */
th {
    background-color: #3498db;
    color: #ffffff;
}
